body {
    background-image: url('media/images/sparklist-background.gif');
    color: #fff;
}
.custom-header{
    background-color: #2b1f5fbb;
    display: flex;
    justify-content: center;
}
